💡 **Question 1**

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1 

Output: true

**Example 2:**
Input: n = 16 

Output: true

**Example 3:**
Input: n = 3 

Output: false

In [1]:
def is_power_of_two(n):
    return n > 0 and (n & (n - 1)) == 0

In [2]:
n = 1
result = is_power_of_two(n)
print(result)

True

In [3]:
n = 16
result = is_power_of_two(n)
print(result)

True

In [4]:
n = 3
result = is_power_of_two(n)
print(result)

False

💡 **Question 2**

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3 

Output: 6

**Example 2:**

Input  : 5 

Output : 15

In [5]:
def calculate_sum(n):
    return (n * (n + 1)) // 2

In [6]:
n = 3
result = calculate_sum(n)
print(result)

6

In [7]:
n = 5
result = calculate_sum(n)
print(result)

15

💡 **Question 3**

****Given a positive integer, N. Find the factorial of N. 

**Example 1:**

Input: N = 5 

Output: 120

**Example 2:**

Input: N = 4

Output: 24

In [8]:
def calculate_factorial(N):
    factorial = 1
    for num in range(1, N+1):
        factorial *= num
    return factorial

In [9]:
N = 5
result = calculate_factorial(N)
print(result)

120

In [10]:
N = 4
result = calculate_factorial(N)
print(result)

24

💡 **Question 4**

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :** 

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

In [11]:
def calculate_exponent(N, P):
    result = 1
    for _ in range(P):
        result *= N
    return result

In [12]:
N = 5
P = 2
result = calculate_exponent(N, P)
print(result)

25

In [13]:
N = 2
P = 5
result = calculate_exponent(N, P)
print(result)

32

💡 **Question 5**

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

In [14]:
def find_max(arr):
    # Base case: array contains only one element
    if len(arr) == 1:
        return arr[0]

    mid = len(arr) // 2

    # Recursively find maximum of first half
    max_first_half = find_max(arr[:mid])

    # Recursively find maximum of second half
    max_second_half = find_max(arr[mid:])

    # Compare the maximums of the two halves
    return max(max_first_half, max_second_half)

In [15]:
arr = [1, 4, 3, -5, -4, 8, 6]
result = find_max(arr)
print("The maximum element is:", result)

The maximum element is: 8

In [16]:
arr = [1, 4, 45, 6, 10, -8]
result = find_max(arr)
print("The maximum element is:", result)

The maximum element is: 45

💡 **Question 6**

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

In [18]:
def find_nth_term(a, d, n):
    nth_term = a + (n - 1) * d
    return nth_term

In [19]:
a = 2
d = 1
N = 5
result = find_nth_term(a, d, N)
print("The {}th term of the series is: {}".format(N, result))

The 5th term of the series is: 6

In [20]:
a = 5
d = 2
N = 10
result = find_nth_term(a, d, N)
print("The {}th term of the series is: {}".format(N, result))

The 10th term of the series is: 23

💡 **Question 7**

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

**Example 2:**

***Input:***

*S = “XY”*

***Output:***

In [21]:
def permutations(string):
    if len(string) == 1:
        return [string]

    perms = []  # List to store permutations

    for i in range(len(string)):
        current_char = string[i]
        remaining_chars = string[:i] + string[i+1:]
        sub_perms = permutations(remaining_chars)

        for perm in sub_perms:
            perms.append(current_char + perm)

    return perms

In [22]:
S = "ABC"
result = permutations(S)
for perm in result:
    print(perm)

ABC
ACB
BAC
BCA
CAB
CBA

In [23]:
S = "XY"
result = permutations(S)
for perm in result:
    print(perm)

XY
YX

 **Question 8**

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

In [24]:
def find_product(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [25]:
arr = [1, 2, 3, 4, 5]
print(find_product(arr))

120

In [26]:
arr = [1, 6, 3]
print(find_product(arr))

18